* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-box {
    background-color: rgb(208, 231, 226);
    padding: 20px;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.square {
    width: 100px;
    height: 100px;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.square-closed {
    background-color: #0f0;
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }
    .container {
        max-width: 270px;
    }
    .square {
        width: 50px;
        height: 50px;
    }
}